<div class="user-card">
  <h2 class="login-title">Cambiar Contraseña</h2> 

  <div class="form-column">
   <!--  <p-floatlabel class="form-field">
        <p-password 
          [feedback]="false" 
          toggleMask="true"
          [(ngModel)]="identification"
          inputId="currentPassword">
        </p-password>
        <label for="currentPassword">Identificación</label>
      </p-floatlabel> -->
      
      <p-floatlabel class="form-field">
        <p-password 
          [feedback]="false" 
          toggleMask="true"
          [(ngModel)]="newPassword"
          inputId="newPassword">
        </p-password>
        <label for="newPassword">Nueva Contraseña</label>
      </p-floatlabel>
      
      <p-floatlabel class="form-field">
        <p-password 
          [feedback]="false" 
          toggleMask="true"
          [(ngModel)]="confirmPassword"
          inputId="confirmPassword">
        </p-password>
        <label for="confirmPassword">Confirmar Contraseña</label>
      </p-floatlabel>
      
  </div>

  <div style="text-align: center; margin-top: 2rem">
    <button pButton type="button" label="Enviar" (click)="onSubmit()"></button>
  </div>
</div>
