<header class="header">
  <div class="header-column logo">
    <img
      src="assets/images/logo.png"
      alt="Logo"
      class="logo-img ml-5"
    />
  </div>

  <div class="header-column title">
    <h1></h1>
  </div>

  <div class="header-column user-info">
    <span class="usuario-texto">Usuario: {{ nombreUsuario }}</span>

    <p-menu #menu [model]="userMenu" popup baseZIndex="1000"></p-menu>

    <p-avatar
      label="{{ nombreUsuario[0] }}"
      shape="circle"
      styleClass="cursor-pointer"
      [ngStyle]="{ 'background-color': '#2196f3', color: '#ffffff' }"
      (click)="menu.toggle($event)"
    ></p-avatar>
  </div>
</header>
