@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

/* Personalización global SweetAlerts */

/* Personalización del texto de la alerta */
.swal2-title {
  font-family: 'Barlow', sans-serif !important;  
  font-size: 35px !important;  
  color: #00517b !important;
}

/* Personalización del texto de la alerta */
.swal2-html-container {
  font-family: 'Barlow', sans-serif !important;
  font-size: 22px !important; 
  color: #555 !important;
}

/* Personalización del botón */
.swal2-confirm {
  font-family: 'Barlow', sans-serif !important;
  font-size: 20px !important; 
  padding: 12px 30px !important;  
  text-transform: uppercase !important;  
  background-color: #00517b !important; 
  border: none !important;  
}

/* Personalización del popup */
.swal2-popup {
  font-family: 'Barlow', sans-serif !important; 
  font-size: 20px !important;
  width: 600px !important; 
  padding: 20px !important; 
}

/* Personalización de la máscara de fondo */
.swal2-backdrop {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

body {
  font-family: 'Barlow', sans-serif;
}

::ng-deep .p-dropdown {
  background-color: rgba(0, 51, 102, 0.3);
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 4px;
}

::ng-deep .p-dropdown .p-dropdown-label {
  color: #fff;
}

::ng-deep .p-dropdown .p-dropdown-trigger {
  color: #fff;
}

::ng-deep .p-dropdown-panel {
  background-color: rgba(0, 51, 102, 0.95); // Opcional: fondo del panel desplegable
  color: #fff;
}

::ng-deep .p-dropdown-item {
  color: #fff;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

// Label float
:root {
  --p-primary-color: #ffffff !important;
  --p-floatlabel-focus-color: #ffffff !important;
}

::ng-deep .p-paginator .p-paginator-page.p-paginator-page-selected {
  background: #20506A !important;
  color: #fff !important;
  border-color: #20506A !important;
}


