<div class="contract-card">
  <!-- Dropdown para seleccionar tipo de documento -->
  <div class="dropdown-wrapper">
    <p-dropdown
      [options]="filteredContractTypes"
      optionLabel="tipo_doc"
      optionValue="tipo_doc"
      [(ngModel)]="selectedType"
      placeholder="Seleccione un tipo de documento"
      (onChange)="onTypeChange()"
      class="dropdown"
    ></p-dropdown>
  </div>

  <!-- Formulario dinámico -->
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmitSelected()"
    *ngIf="fields.length > 0"
    class="form-grid"
  >
    <!-- Recorremos campos y ocultamos los que estén en hiddenFields -->
    <ng-container *ngFor="let field of fields">
      <div
        class="form-field"
        *ngIf="!hiddenFields.has(field.nombre_campo_doc)"
        [ngClass]="{
          'full-width':
            field.nombre_campo_doc === 'descripcion' ||
            field.nombre_campo_doc === 'detalle_visita'
        }"
      >
        <!-- Tipo contrato -->
        <p-floatlabel
          variant="over"
          *ngIf="
            field.nombre_campo_doc === 'tipo_contrato';
            else checkEstadoField
          "
        >
          <p-dropdown
            [options]="contractTypeOptions"
            optionLabel="label"
            optionValue="value"
            [formControlName]="field.nombre_campo_doc"
            [inputId]="field.nombre_campo_doc"
            class="w-full"
          ></p-dropdown>
          <label [for]="field.nombre_campo_doc">{{
            field.desc_campo_doc
          }}</label>
        </p-floatlabel>

        <ng-template #checkEstadoField>
          
          <!-- Estado -->
          <p-floatlabel
            variant="over"
            *ngIf="field.nombre_campo_doc === 'estado'; else checkEmpresaAsociada"
          >
            <p-dropdown
              [options]="currentStatusOptions"
              optionLabel="label"
              optionValue="value"
              [formControlName]="field.nombre_campo_doc"
              [inputId]="field.nombre_campo_doc"
              class="w-full"
            ></p-dropdown>
            <label [for]="field.nombre_campo_doc">{{ field.desc_campo_doc }}</label>
          </p-floatlabel>
        </ng-template>

      <ng-template #checkEmpresaAsociada>
        <p-floatlabel
          variant="over"
          *ngIf="field.nombre_campo_doc === 'empresa_asociada'; else checkTipoDocContratista"
        >
          <p-dropdown
            [formControlName]="field.nombre_campo_doc"
            [options]="companies"
            optionLabel="nombre_empresa"
            optionValue="id"
            [inputId]="field.nombre_campo_doc"
            placeholder="Seleccione empresa"
            class="w-full"
          ></p-dropdown>
          <label [for]="field.nombre_campo_doc">{{ field.desc_campo_doc }}</label>
        </p-floatlabel>
      </ng-template>

      <ng-template #checkTipoDocContratista>
        <p-floatlabel
          variant="over"
          *ngIf="field.nombre_campo_doc === 'tipo_doc_contratista'; else checkRealizoPago"
        >
          <p-dropdown
            [options]="typecontractDocumentOptions"
            optionLabel="label"
            optionValue="value"
            [formControlName]="field.nombre_campo_doc"
            [inputId]="field.nombre_campo_doc"
            class="w-full"
          ></p-dropdown>

          <label [for]="field.nombre_campo_doc">
            {{ field.desc_campo_doc }}
          </label>
        </p-floatlabel>
      </ng-template>

        <ng-template #checkRealizoPago>
          <!-- Sí / No -->
          <p-floatlabel
            variant="over"
            *ngIf="
              [
                'realizo_pago',
                'estado_pago_anticipo',
                'estado_pago_r_garantia',
                'estado_polizas',
                'estado_polizas_in',
                'estado_polizas_fin'
              ].includes(field.nombre_campo_doc);
              else defaultField
            "
          >
            <p-dropdown
              [formControlName]="field.nombre_campo_doc"
              [options]="yesNoOptions"
              optionLabel="label"
              optionValue="value"
              [inputId]="field.nombre_campo_doc"
              class="w-full"
            ></p-dropdown>
            <label [for]="field.nombre_campo_doc">{{
              field.desc_campo_doc
            }}</label>
          </p-floatlabel>
        </ng-template>

        <!-- Default inputs -->
        <ng-template #defaultField>
          <p-floatlabel
            variant="over"
            *ngIf="['text', 'number', 'tel', 'email'].includes(field.tipo_dato)"
          >
            <input
              pInputText
              [type]="field.tipo_dato"
              [formControlName]="field.nombre_campo_doc"
              [id]="field.nombre_campo_doc"
              class="w-full"
            />
            <label [for]="field.nombre_campo_doc">{{
              field.desc_campo_doc
            }}</label>
          </p-floatlabel>

          <p-floatlabel variant="over" *ngIf="field.tipo_dato === 'date'">
            <p-calendar
              [formControlName]="field.nombre_campo_doc"
              [inputId]="field.nombre_campo_doc"
              dateFormat="yy-mm-dd"
              class="w-full"
            ></p-calendar>
            <label [for]="field.nombre_campo_doc">{{
              field.desc_campo_doc
            }}</label>
          </p-floatlabel>

          <p-floatlabel variant="over" *ngIf="field.tipo_dato === 'file'">
            <input
              type="file"
              (change)="onFileChange($event, field.nombre_campo_doc)"
              [id]="field.nombre_campo_doc"
              class="w-full"
            />
            <label [for]="field.nombre_campo_doc">{{
              field.desc_campo_doc
            }}</label>
          </p-floatlabel>
        </ng-template>
      </div>
    </ng-container>

    <!-- CARGA DE ARCHIVOS PLANOS SEGUN TIPO DE DOCUMENTO   -->

    <div *ngIf="selectedType === 'CONTRATO'" class="mt-2">
      <label for="aiuFile">Archivo Excel Contrato AIU:</label>
      <input
        type="file"
        id="aiuFile"
        (change)="onAIUFileSelected($event)"
        accept=".xlsx, .xls"
      />

      <button
        type="button"
        class="custom-upload-button mt-2"
        (click)="uploadAIUExcel()"
      >
        SUBIR
      </button>

      <br />

      <label for="ivaFile" class="mt-3 block">Archivo Excel Contrato IVA:</label>
      <input
        type="file"
        id="ivaFile"
        (change)="onIVAFileSelected($event)"
        accept=".xlsx, .xls"
      />

      <button
        type="button"
        class="custom-upload-button mt-2"
        (click)="uploadIVAExcel()"
      >
        SUBIR
      </button>
    </div>

    <div *ngIf="selectedType === 'ORDEN DE COMPRA'" class="mt-2">
      <label for="ocFile">Archivo Excel Orden de Compra:</label>
      <input
        type="file"
        id="ordenCompraFile"
        (change)="onOCFileSelected($event)"
        accept=".xlsx, .xls"
      />

      <button
        type="button"
        class="custom-upload-button mt-2"
        (click)="uploadOCFile()"
      >
        SUBIR
      </button>
    </div>

    <div *ngIf="selectedType === 'REMISIONES'" class="mt-2">
      <label for="ocFile">Archivo Excel Remisiones:</label>
      <input
        type="file"
        id="remisionesFile"
        (change)="onOCFileRemision($event)"
        accept=".xlsx, .xls"
      />
      <button
        type="button"
        (click)="generateRemisionPDF()"
        class="custom-save-button"
      >
        GENERAR PDF
      </button>
    </div>

    <div *ngIf="selectedType === 'ACTAS DE PAGO'" class="mt-2">
      <label for="ocFile">Archivo Excel Actas De Pago:</label>
      <input
        type="file"
        id="remisionesFile"
        (change)="onOCFileActaPago($event)"
        accept=".xlsx, .xls"
      />

      <button
        type="button"
        class="custom-upload-button mt-2"
        (click)="uploadOCActaCompra()"
      >
        SUBIR
      </button>
    </div>

    <div *ngIf="selectedType === 'REMISIONES'" class="remision-block">
      <!-- ================== DETALLE DE REMISION ================== -->
      <div class="remision-wrapper">

        <h4 class="section-title">Detalle de Remisión</h4>

        <!-- Encabezados -->
        <div class="remision-header">
          <span>Item</span>
          <span>Cantidad</span>
          <span>UM</span>
          <span>Detalle</span>
          <span>Observaciones</span>
          <span></span>
          <span></span>
        </div>

        <!-- Filas -->
        <div class="remision-container">
          <div class="remision-row" *ngFor="let row of remisionData; let i = index">

            <input pInputText [(ngModel)]="row.item" [ngModelOptions]="{standalone: true}" />

            <input
              pInputText
              type="number"
              [(ngModel)]="row.cantidad"
              [ngModelOptions]="{standalone: true}"
            />

            <input pInputText [(ngModel)]="row.um"  [ngModelOptions]="{standalone: true}"/>

            <input
              pInputText
              [(ngModel)]="row.detalle"
              [ngModelOptions]="{standalone: true}"
            />

            <input
              pInputText
              [(ngModel)]="row.observaciones"
              [ngModelOptions]="{standalone: true}"
            />

            <!-- Agregar -->
            <button
              pButton
              icon="pi pi-plus"
              class="btn-add"
              type="button"
              (click)="addRemisionRow()"
              *ngIf="i === remisionData.length - 1"
            >+</button>

            <!-- Eliminar -->
            <button
              pButton
              icon="pi pi-trash"
              class="btn-remove"
              type="button"
              (click)="removeRemisionRow(i)"
              *ngIf="remisionData.length > 1"
            >-</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Botones de acciones (independientes por tipo) -->
    <div class="form-actions" *ngIf="selectedType === 'CONTRATO'">
      <div class="button-group">
        <button
          type="button"
          (click)="onPreviewContrato()"
          class="custom-save-button"
        >
          PREVISUALIZAR
        </button>
        <button
          type="button"
          (click)="onSubmitContrato()"
          class="custom-save-button"
        >
          GUARDAR
        </button>
      </div>
    </div>

    <div class="form-actions" *ngIf="selectedType === 'ASISTENCIA'">
      <div class="button-group">
        <button
          type="button"
          (click)="onPreviewVisita()"
          class="custom-save-button"
        >
          PREVISUALIZAR
        </button>
        <button
          type="button"
          (click)="onSubmitVisita()"
          class="custom-save-button"
        >
          GUARDAR
        </button>
      </div>
    </div>

    <div class="form-actions" *ngIf="selectedType === 'ACTAS DE MEDIDA'">
      <div class="button-group">
        <button
          type="button"
          (click)="onPreviewActa()"
          class="custom-save-button"
        >
          PREVISUALIZAR
        </button>
        <button
          type="button"
          (click)="onSubmitActa()"
          class="custom-save-button"
        >
          GUARDAR
        </button>
      </div>
    </div>

    <div class="form-actions" *ngIf="selectedType === 'REMISIONES'">
      <div class="button-group">
        <button
          type="button"
          (click)="onPreviewRemision()"
          class="custom-save-button"
        >
          PREVISUALIZAR
        </button>
        <button
          type="button"
          (click)="onSubmitRemision()"
          class="custom-save-button"
        >
          GUARDAR
        </button>
      </div>
    </div>

    <div class="form-actions" *ngIf="selectedType === 'ORDEN DE COMPRA'">
      <div class="button-group">
        <button
          type="button"
          (click)="onPreviewOC()"
          class="custom-save-button"
        >
          PREVISUALIZAR
        </button>
        <!-- Guardar inputs -->
        <button
          type="button"
          class="custom-save-button mt-2"
          (click)="saveOCInputs()"
        >
          GUARDAR
        </button>
      </div>
    </div>

    <div class="form-actions" *ngIf="selectedType === 'ACTAS DE PAGO'">
      <div class="button-group">
        <button
          type="button"
          (click)="onPreviewAC()"
          class="custom-save-button"
        >
          PREVISUALIZAR
        </button>
        <!-- Guardar inputs -->
        <button
          type="button"
          class="custom-save-button mt-2"
          (click)="saveOCInputs()"
        >
          GUARDAR
        </button>
      </div>
    </div>
  </form>

  <!-- PREVISUALIZACIÓN: CONTRATO -->
  <div *ngIf="showPreviewContrato" class="preview-card mt-4">
    <h3 class="mb-4 text-xl font-bold">📑 Previsualización del contrato</h3>

    <!-- Empresa: siempre ocupa toda la fila -->
    <div class="preview-box full-row">
      <div class="box-title">Empresa</div>
      <table class="preview-table">
        <tr>
          <th>Empresa</th>
          <td>{{ form.value["empresa"] }}</td>
        </tr>
        <tr>
          <th>NIT</th>
          <td>{{ form.value["nit_empresa"] }}</td>
        </tr>
        <tr>
          <th>Ciudad</th>
          <td>{{ form.value["ciudad_empresa"] }}</td>
        </tr>
      </table>
    </div>

    <!-- Otras secciones en grilla -->
    <div class="grid-preview">
      <!-- Contrato -->
      <div class="preview-box">
        <div class="box-title">Contrato Detallado Por Grupos</div>
        <table class="preview-table">
          <tr>
            <th>Contrato No.</th>
            <td>{{ form.value["numero_contrato"] }}</td>
          </tr>
          <tr>
            <th>Proyecto</th>
            <td>{{ form.value["proyecto"] }}</td>
          </tr>
          <tr>
            <th>Valor Contrato</th>
            <td>{{ form.value["valor_contrato"] }}</td>
          </tr>
          <tr>
            <th>Tipo Contrato</th>
            <td>{{ form.value["tipo_contrato"] }}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{ form.value["estado"] }}</td>
          </tr>
          <tr>
            <th>Fecha Inicio</th>
            <td>{{ form.value["fecha_inicio"] | date }}</td>
          </tr>
          <tr>
            <th>Fecha Fin</th>
            <td>{{ form.value["fecha_fin"] | date }}</td>
          </tr>
          <tr>
            <th>Descripción</th>
            <td>{{ form.value["descripcion"] }}</td>
          </tr>
        </table>
      </div>

      <!-- Anticipo -->
      <div class="preview-box">
        <div class="box-title">Anticipo</div>
        <table class="preview-table">
          <tr>
            <th>% Anticipo</th>
            <td>{{ form.value["porcentaje_anticipo"] }}</td>
          </tr>
          <tr>
            <th>Valor anticipo</th>
            <td>{{ form.value["Valor anticipo"] }}</td>
          </tr>
          <tr>
            <th>Estado pago</th>
            <td>{{ form.value["estado_pago_anticipo"] }}</td>
          </tr>
        </table>
      </div>

      <!-- Retención garantía -->
      <div class="preview-box">
        <div class="box-title">Retención garantía</div>
        <table class="preview-table">
          <tr>
            <th>Rete garantía</th>
            <td>{{ form.value["rete_garantia"] }}</td>
          </tr>
          <tr>
            <th>Valor R garantía</th>
            <td>{{ form.value["valor_r_garantia"] }}</td>
          </tr>
          <tr>
            <th>Estado pago</th>
            <td>{{ form.value["estado_pago_r_garantia"] }}</td>
          </tr>
        </table>
      </div>

      <!-- Pólizas -->
      <div class="preview-box">
        <div class="box-title">Pólizas</div>
        <table class="preview-table">
          <tr>
            <th>Pólizas</th>
            <td>{{ form.value["polizas"] }}</td>
          </tr>
          <tr>
            <th>Valor pólizas</th>
            <td>{{ form.value["valor_polizas"] }}</td>
          </tr>
          <tr>
            <th>Estado pólizas</th>
            <td>{{ form.value["estado_polizas"] }}</td>
          </tr>
        </table>
      </div>

      <!-- Valores económicos -->
      <div class="preview-box">
        <div class="box-title">Valores económicos</div>
        <table class="preview-table">
          <tr>
            <th>Facturado</th>
            <td>{{ form.value["facturado"] }}</td>
          </tr>
          <tr>
            <th>Saldo contrato</th>
            <td>{{ form.value["saldo_contrato"] }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="mt-3 flex justify-end">
      <button
        type="button"
        (click)="closePreviewContrato()"
        class="custom-save-button"
      >
        Cerrar
      </button>
    </div>
  </div>

  <!-- PREVISUALIZACIÓN: ASISTENCIA -->
  <div *ngIf="showPreviewVisita" class="preview-card mt-4">
    <h3 class="mb-4 text-xl font-bold">📋 Previsualización visita de obra</h3>

    <div class="grid-preview">
      <div class="preview-box">
        <div class="box-title">Datos</div>
        <table class="preview-table">
          <tr>
            <th>Consecutivo</th>
            <td>{{ form.value["consecutivo"] }}</td>
          </tr>
          <tr>
            <th>Constructora</th>
            <td>{{ form.value["constructora"] }}</td>
          </tr>
          <tr>
            <th>Proyecto</th>
            <td>{{ form.value["proyecto"] }}</td>
          </tr>
          <tr>
            <th>Ubicación</th>
            <td>{{ form.value["ubicacion"] }}</td>
          </tr>
        </table>
      </div>

      <div class="preview-box full-row">
        <div class="box-title">Detalle de la visita</div>
        <div style="color: #fff">{{ form.value["detalle_visita"] }}</div>
      </div>

      <div class="preview-box full-row">
        <div class="box-title">Adjuntos</div>
        <div class="flex gap-4">
          <!-- Foto 1 -->
          <div class="photo-thumbnail" *ngIf="getFotoUrl('foto1')">
            <img
              [src]="getFotoUrl('foto1')"
              alt="Foto 1"
              class="thumbnail-img"
            />
            <p class="photo-label">Foto 1</p>
          </div>

          <!-- Foto 2 -->
          <div class="photo-thumbnail" *ngIf="getFotoUrl('foto2')">
            <img
              [src]="getFotoUrl('foto2')"
              alt="Foto 2"
              class="thumbnail-img"
            />
            <p class="photo-label">Foto 2</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PREVISUALIZACIÓN: ACTA -->
  <div *ngIf="showPreviewActa" class="preview-card mt-4">
    <h3 class="mb-4 text-xl font-bold">📑 Previsualización del Acta</h3>

    <div class="grid-preview">
      <!-- Bloque 1: Datos básicos -->
      <div class="preview-box full-row">
        <div class="box-title">📌 Datos del Acta</div>
        <table class="preview-table">
          <tr>
            <th>Número Contrato</th>
            <td>{{ form.value["numero_contrato"] }}</td>
          </tr>
          <tr>
            <th>Consecutivo</th>
            <td>{{ form.value["consecutivo"] }}</td>
          </tr>
          <tr>
            <th>Constructora</th>
            <td>{{ form.value["constructora"] }}</td>
          </tr>
          <tr>
            <th>Proyecto</th>
            <td>{{ form.value["proyecto"] }}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{ form.value["estado"] }}</td>
          </tr>
          <tr>
            <th>Fecha Terminación</th>
            <td>{{ form.value["fecha terminación"] | date }}</td>
          </tr>
        </table>
      </div>

      <!-- Bloque 2: Producción + Despiece + Observaciones -->
      <div class="preview-box full-row">
        <div class="box-title">📌 Detalles del Acta</div>
        <table class="preview-table">
          <tr>
            <th>Producción</th>
            <td>{{ form.value["acta_produccion"] }}</td>
          </tr>
          <tr>
            <th>Despiece Material</th>
            <td>{{ form.value["despiece_material"] }}</td>
          </tr>
          <tr>
            <th>Observaciones</th>
            <td>{{ form.value["observaciones"] }}</td>
          </tr>
        </table>
      </div>

      <!-- Bloque 3: Adjuntos -->
      <div class="preview-box full-row">
        <div class="box-title">📌 Adjuntos</div>
        <div class="flex gap-4 flex-wrap">
          <!-- Foto 1 -->
          <div class="photo-thumbnail" *ngIf="getFotoUrl('fotos_1')">
            <img
              [src]="getFotoUrl('fotos_1')"
              alt="Foto 1"
              class="thumbnail-img"
            />
            <p class="photo-label">Foto 1</p>
          </div>

          <!-- Foto 2 -->
          <div class="photo-thumbnail" *ngIf="getFotoUrl('foto_2')">
            <img
              [src]="getFotoUrl('foto_2')"
              alt="Foto 2"
              class="thumbnail-img"
            />
            <p class="photo-label">Foto 2</p>
          </div>

          <!-- Foto 3 -->
          <div class="photo-thumbnail" *ngIf="getFotoUrl('foto_3')">
            <img
              [src]="getFotoUrl('foto_3')"
              alt="Foto 3"
              class="thumbnail-img"
            />
            <p class="photo-label">Foto 3</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 flex justify-end">
      <button
        type="button"
        (click)="closePreviewActa()"
        class="custom-save-button"
      >
        Cerrar
      </button>
    </div>
  </div>

  <!-- PREVISUALIZACIÓN: ORDEN DE COMPRA -->
  <div *ngIf="showPreviewOC" class="preview-card mt-4">
    <h3 class="mb-4 text-xl font-bold">🛒 Previsualización Orden de Compra</h3>

    <div class="grid-preview">
      <!-- Bloque 1: Datos básicos -->
      <div class="preview-box full-row">
        <div class="box-title">📌 Datos</div>
        <table class="preview-table">
          <tr>
            <th>Número Contrato</th>
            <td>{{ form.value["numero_contrato"] }}</td>
          </tr>
          <tr>
            <th>Consecutivo</th>
            <td>{{ form.value["consecutivo"] }}</td>
          </tr>
          <tr>
            <th>Constructora</th>
            <td>{{ form.value["constructora"] }}</td>
          </tr>
          <tr>
            <th>Proyecto</th>
            <td>{{ form.value["proyecto"] }}</td>
          </tr>
          <tr>
            <th>Fecha Terminación</th>
            <td>{{ form.value["fecha_terminacion"] | date }}</td>
          </tr>
        </table>
      </div>

      <!-- Bloque 2: Detalle de compra -->
      <div class="preview-box full-row">
        <div class="box-title">📌 Detalles</div>
        <table class="preview-table">
          <tr>
            <th>Elaboró</th>
            <td>{{ form.value["numero_plano"] }}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{ form.value["estado"] }}</td>
          </tr>
          <tr>
            <th>Observaciones</th>
            <td>{{ form.value["observaciones"] }}</td>
          </tr>
        </table>
      </div>

      <!-- Bloque 3: Adjuntos -->
      <div class="preview-box full-row">
        <div class="box-title">📌 Adjuntos</div>
        <div class="flex gap-4 flex-wrap">
          <!-- Foto 1 -->
          <div class="photo-thumbnail" *ngIf="getFotoUrl('foto_1_orden')">
            <img
              [src]="getFotoUrl('foto_1_orden')"
              alt="Foto 1"
              class="thumbnail-img"
            />
            <p class="photo-label">Foto 1</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Botón cerrar -->
    <div class="mt-3 flex justify-end">
      <button
        type="button"
        (click)="closePreviewOC()"
        class="custom-save-button"
      >
        Cerrar
      </button>
    </div>
  </div>

  <!-- PREVISUALIZACIÓN: ACTASDE PAGO -->
  <div *ngIf="showPreviewAP" class="preview-card mt-4">
    <h3 class="mb-4 text-xl font-bold">🛒 Previsualización Actas De Pago</h3>

    <div class="grid-preview">
      <!-- Bloque 1: Datos básicos -->
      <div class="preview-box full-row">
        <div class="box-title">📌 Datos</div>
        <table class="preview-table">
          <tr>
            <th>Número Contrato</th>
            <td>{{ form.value["numero_contrato"] }}</td>
          </tr>
          <tr>
            <th>Empresa</th>
            <td>{{ form.value["empresa"] }}</td>
          </tr>
          <tr>
            <th>Proyecto</th>
            <td>{{ form.value["proyecto"] }}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{ form.value["estado"] }}</td>
          </tr>
        </table>
      </div>

      <!-- Bloque 2: Adjuntos -->
      <div class="preview-box full-row">
        <div class="box-title">📌 Adjuntos</div>
        <div class="flex gap-4 flex-wrap">
          <!-- Foto 1 -->
          <div class="photo-thumbnail" *ngIf="getFotoUrl('foto1')">
            <img
              [src]="getFotoUrl('foto1')"
              alt="Foto 1"
              class="thumbnail-img"
            />
            <p class="photo-label">Adjuntar Documento/Foto</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Botón cerrar -->
    <div class="mt-3 flex justify-end">
      <button
        type="button"
        (click)="closePreviewAP()"
        class="custom-save-button"
      >
        Cerrar
      </button>
    </div>
  </div>

  <!-- FORMATO DE IMPRESIÓN RM -->
  <div class="print-page" *ngIf="showPreviewRemision">
    <!-- COPIA 1 -->
    <div class="remision-copy">
      <ng-container *ngTemplateOutlet="rmFormato"></ng-container>
    </div>
    <!-- COPIA 2 -->
    <div class="remision-copy">
      <ng-container *ngTemplateOutlet="rmFormato"></ng-container>
    </div>
  </div>

  <ng-template #rmFormato>
    <div class="rm-container">
      <!-- ENCABEZADO -->
      <!-- ================= HEADER 3 COLUMNAS ================= -->
      <div class="rm-top-row">

        <!-- COLUMNA 1: LOGO -->
        <div class="rm-col rm-col-left">
          <img [src]="logoEmpresa" class="rm-logo" *ngIf="logoEmpresa" />
          <div class="rm-nit" *ngIf="nitEmpresa">
            NIT. {{ nitEmpresa }}
          </div>
        </div>

        <!-- COLUMNA 2: TEXTO LEGAL -->
        <div class="rm-col rm-col-center">
          <div class="rm-legal-top">
            LOS MATERIALES AQUÍ CONSIGNADOS SON PROPIEDAD DE LA EMPRESA,
            HASTA QUE SE EFECTÚE EL PAGO CORRESPONDIENTE. DESPUÉS DE
            EFECTUAR LA ENTREGA, CESA NUESTRA RESPONSABILIDAD POR LA
            CUSTODIA Y DAÑOS QUE SE CAUSEN CON ESTOS MATERIALES.
          </div>

          <div class="rm-contacto">
            📞 316 521 4286 - 318 487 2798 <br>
            📍 CL. 158 No. 110 - 45 Bogotá, Colombia.
          </div>
        </div>

        <!-- COLUMNA 3: REMISIÓN -->
        <div class="rm-col rm-col-right">

          <div class="rm-remision-box">
            <div class="rm-remision-title">REMISIÓN No.</div>
            <div class="rm-remision-num"
              [ngStyle]="{ color: colorWebEmpresa }">
            {{ form.value["remision_material"] }}
          </div>
          </div>

          <div class="rm-fecha-box">
            <div class="rm-fecha-title">FECHA</div>
            <div class="rm-fecha-value">
              {{ form.value["fecha_remision"] | date:'dd/MM/yyyy' }}
            </div>
          </div>

        </div>

      </div>

      <!-- ================= SEGUNDA FILA ================= -->
      <div class="rm-second-row">

        <!-- FILA 1 -->
        <div class="rm-row-grid">
          <div class="rm-field">
            <span class="rm-label">CLIENTE:</span>
            <span class="rm-value">{{ form.value["cliente"] }}</span>
          </div>

          <div class="rm-field">
            <span class="rm-label">PROYECTO:</span>
            <span class="rm-value">{{ form.value["proyecto"] }}</span>
          </div>
        </div>

        <!-- FILA 2 -->
        <div class="rm-row-grid">
          <div class="rm-field">
            <span class="rm-label">DIRECCIÓN:</span>
            <span class="rm-value">{{ form.value["direccion"] }}</span>
          </div>

          <div class="rm-field">
            <span class="rm-label">ORDEN DE COMPRA:</span>
            <span class="rm-value">{{ form.value["numero_contrato"] }}</span>
          </div>
        </div>
      </div>

      <!-- TABLA DEL ARCHIVO PLANO -->
      <table class="rm-table">
        <thead>
          <tr>
            <th>ITEM</th>
            <th>CANT</th>
            <th>UM</th>
            <th>DETALLE</th>
            <th>OBSERVACIONES</th>
          </tr>
        </thead>
        <tbody>
          <!-- Solo mostramos filas con datos para no romper el diseño de la copia -->
          <tr *ngFor="let row of remisionDataPrint">
            <td>{{ row.item }}</td>
            <td>{{ row.cantidad }}</td>
            <td>{{ row.um }}</td>
            <td class="rm-detalle-cell">{{ row.detalle }}</td>
            <td class="rm-detalle-cell">{{ row.observaciones }}</td>
          </tr>
        </tbody>
      </table>

      <!-- ================= BLOQUE FINAL ================= -->
      <div class="rm-bottom-block">

        <!-- COLUMNA IZQUIERDA -->
        <div class="rm-bottom-left">

          <!-- OBSERVACIONES -->
          <div class="rm-observaciones-row">
            <div class="rm-label">OBSERVACIONES:</div>
            <div class="rm-observaciones-value">
              {{ form.value["observaciones"] }}
            </div>
          </div>

          <!-- ELABORO / DESPACHO / TRANSPORTO -->
          <div class="rm-firmas-row">

            <div class="rm-firma-field">
              <div class="rm-label">ELABORÓ:</div>
              <div class="rm-firma-value">{{ form.value["elaboro"] }}</div>
            </div>

            <div class="rm-firma-field">
              <div class="rm-label">DESPACHÓ:</div>
              <div class="rm-firma-value">{{ form.value["despacho"] }}</div>
            </div>

            <div class="rm-firma-field">
              <div class="rm-label">TRANSPORTÓ:</div>
              <div class="rm-firma-value">{{ form.value["transporto"] }}</div>
            </div>

          </div>

        </div>

        <!-- COLUMNA DERECHA -->
        <div class="rm-bottom-right">

          <div class="rm-recibido-text">
            DECLARAMOS HABER RECIBIDO LOS ARTÍCULOS
            DESCRITOS A CONFORMIDAD
          </div>

          <div class="rm-firma-line-big"></div>

          <div class="rm-firma-label">FIRMA</div>

        </div>
      </div>
      <!-- ================= FOOTER WEB ================= -->
      <div class="rm-footer-web" *ngIf="webEmpresa"
          [style.color]="colorWebEmpresa">
        {{ webEmpresa }}
      </div>
    </div>
  </ng-template>  
</div>
